DJANGO_SECRET_KEY=""
DB_NAME=
TEST_DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
MEDIALIB_ROOT=
TIME_ZONE=

ALLOWED_HOSTS=localhost,127.0.0.1
DEBUG=0

HOST_PORT=8000
GUNICORN_WORKERS=4
CELERY_WORKERS=2
VOLUME_FLAGS=
MEDIALIB_STORAGE_PATH=
PG_DB_HOST=127.0.0.1
USE_X_ACCEL=0
TAGGER_HOST=127.0.0.1
TAGGER_PORT=10877
