:root {
  /* --- Фон (Backgrounds) --- */
  /* Основной фон страницы (белый или очень светло-серый) */
  --bg-main: #ffffff;

  /* Вторичный фон для выделения (Header, карточки, боковые панели) */
  --bg-accent: #f4f4f4;

  /* Фон для полей ввода и кнопок */
  --bg-input: #ffffff;
  --bg-header-item: var(--bg-main);

  /* --- Текст (Typography) --- */
  /* Основной цвет текста (почти черный) */
  --text-main: #1a1a1a;

  /* Текст для подписей, метаданных, неактивных элементов */
  --text-muted: #666666;

  --text-input: #1a1a1a;

  /* Цвет текста, который будет читаться на акцентном фоне (например, на синей кнопке) */
  --text-on-accent: #ffffff;

  /* Обычный цвет для списков */
  --text-li: #333333;

  /* --- Границы и Разделители (Borders) --- */
  /* Цвет рамок инпутов, линий <hr>, границ блоков и таблиц */
  --border-color: #cccccc;

  /* Цвет границы при наведении (фокусе) */
  --border-hover: #999999;

  /* --- Акценты (Branding) --- */
  /* Основной интерактивный цвет (ссылки, кнопки, индикаторы) */
  --accent-color: #0066cc;

  /* Тот же цвет, но чуть темнее для ховера */
  --accent-hover: #004499;

  --bg-wrapper: #e0e0e0;
  --text-wrapper: #dbdbdb;

  /* --- Специфичное для галереи --- */
  /* Тень или подсветка для активных элементов в сетке похожих */
  --similar-item-shadow: rgba(0, 0, 0, 0.1);

  --bg-viewer: black;

  --home-icon: url("/static/resources/home_page_icon.min.svg");
}
